@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <ul class="mt-5 fs-5 list-group list-group-flush">
        <a class="list-group-item list-group-item-action" asp-controller="Browse" asp-action="Index">Browse Moscow weather archives</a>
        <a class="list-group-item list-group-item-action" asp-controller="Upload" asp-action="Index">Upload Moscow weather archives</a>
    </ul>
    <img class="mt-5" src="favicon.ico" alt=""/>
</div>
